.carousel
    display: flex
    position: relative
    justify-content: center
    width: 100%
    height: 100%

    &__img
        display: block
        width: 100%
        height: 100%
        object-fit: cover
        background: no-repeat center
        background-size: cover


