@charset "UTF-8";
.fadeIn {
  animation: fadeIn 1s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeOut {
  animation: fadeOut 1s; }
  .fadeOut--fast {
    animation: fadeOut 0.5s; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.moveInFromTop {
  animation: moveInFromTop 1s; }

@keyframes moveInFromTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateX(0); } }

.moveInFromLeft {
  animation: moveInFromLeft 1s; }

@keyframes moveInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

.moveOutToLeft {
  animation: moveOutToLeft 1s; }

@keyframes moveOutToLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

.moveAndFadeInFromLeft {
  animation: moveInFromLeft 0.5s, fadeIn 0.5s; }

.moveAndFadeOutToLeft {
  animation: moveOutToLeft 0.5s, fadeOut 0.5s; }

.moveInFromRight {
  animation: moveInFromRight 1s; }

@keyframes moveInFromRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

.moveOutToRight {
  animation: moveOutToRight 1s; }

@keyframes moveOutToRight {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

.moveAndFadeInFromRight {
  animation: moveInFromRight 0.5s, fadeIn 0.5s; }

.moveAndFadeOutToRight {
  animation: moveOutToRight 0.5s, fadeOut 0.5s; }

@keyframes spinner {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.showAccordion {
  animation: showAccordion 0.3s;
  animation-fill-mode: forwards; }

@keyframes showAccordion {
  0% {
    height: 0; }
  100% {
    height: auto;
    margin-top: 2rem; } }

.hideAccordion {
  animation: hideAccordion 0.3s;
  animation-fill-mode: forwards; }

@keyframes hideAccordion {
  0% {
    height: auto;
    margin-top: 2rem; }
  100% {
    height: 0; } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 59.37%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white; }

a:link,
a:visited {
  text-decoration: none; }

body {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

button,
input,
select {
  color: inherit;
  font-family: inherit; }

button {
  border: none;
  cursor: pointer; }
  button:focus, button:active {
    outline: none; }

.site-title {
  margin-right: 3rem;
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase; }
  @media only screen and (max-width: 75em) {
    .site-title {
      margin-right: 0; } }

.page-title {
  font-size: 7rem;
  font-weight: 400; }

.heading-primary {
  color: white;
  font-size: 18rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  animation-fill-mode: forwards; }
  @media only screen and (max-width: 75em) {
    .heading-primary {
      font-size: 15rem; } }
  @media only screen and (max-width: 62.5em) {
    .heading-primary {
      font-size: 15rem; } }
  @media only screen and (max-width: 50em) {
    .heading-primary {
      font-size: 12rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-primary {
      font-size: 7rem; } }

.heading-secondary {
  font-size: 5.5rem;
  font-weight: 300; }
  @media only screen and (max-width: 75em) {
    .heading-secondary {
      font-size: 4rem; } }

.heading-tertiary {
  font-size: 12rem; }
  @media only screen and (max-width: 75em) {
    .heading-tertiary {
      font-size: 10rem; } }
  @media only screen and (max-width: 62.5em) {
    .heading-tertiary {
      font-size: 6rem; } }

.heading-quaternary {
  position: relative;
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

.dash {
  display: flex;
  align-items: center; }
  .dash__line {
    display: inline-block;
    width: 2rem;
    margin-right: 1rem;
    transition: border-bottom 0.3s;
    border-bottom: 2px solid white; }

.u-margin-top-small {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-xs {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-s {
  margin-bottom: 3rem !important; }

.u-margin-bottom-m {
  margin-bottom: 5rem !important; }

.u-margin-bottom-xl {
  margin-bottom: 8rem !important; }

.u-display-none {
  display: none !important; }

@media only screen and (max-width: 75em) {
  .u-display-none-l {
    display: none !important; } }

@media only screen and (max-width: 62.5em) {
  .u-display-none-m {
    display: none !important; } }

@media only screen and (max-width: 50em) {
  .u-display-none-s {
    display: none !important; } }

@media only screen and (max-width: 37.5em) {
  .u-display-none-xs {
    display: none !important; } }

.overflow-hidden {
  overflow-y: hidden; }

.required {
  margin-left: 0.5rem;
  color: black;
  text-decoration: none;
  cursor: help; }

.productCard {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: box-shadow 0.4s;
  color: black; }
  .productCard:hover {
    box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.1); }
  .productCard:hover .productCard__summary {
    transform: translateY(-4.5rem); }
  .productCard:hover .productCard__buttons {
    transform: translateY(0);
    opacity: 1; }
  .productCard:hover .slider__btn {
    opacity: 1; }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    .productCard {
      box-shadow: 0 0.8rem 1.2rem 0 rgba(0, 0, 0, 0.1); }
      .productCard:hover .productCard__summary {
        transform: translateY(0); }
      .productCard .slider__btn {
        opacity: 1; } }
  .productCard__img {
    z-index: -10;
    width: 100%; }
  .productCard__summary {
    position: relative;
    height: 8rem;
    transition: transform 0.4s;
    background-color: white; }
    @media only screen and (max-width: 50em) {
      .productCard__summary {
        height: 12.5rem; } }
  .productCard__title {
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer; }
    .productCard__title a:link,
    .productCard__title a:visited {
      color: black;
      text-decoration: none; }
  .productCard__price {
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem; }
  .productCard__buttons {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    margin-top: 1.5rem;
    transform: translateY(50%);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1), opacity 0.4s cubic-bezier(1, 0, 0, 1);
    opacity: 0; }
    @media only screen and (max-width: 50em) {
      .productCard__buttons {
        transform: translateY(0);
        opacity: 1; } }
  .productCard__btn {
    margin-left: 1rem;
    padding: 1rem;
    transition: background-color 0.3s;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase; }
    .productCard__btn:hover {
      background-color: #e3e7e8; }
  .productCard__icon-box {
    display: flex;
    align-items: center;
    margin-right: 1rem; }
  .productCard__icon {
    width: 4rem;
    height: 4rem;
    padding: 1rem 0;
    transition: background-color 0.3s;
    border-radius: 50%;
    fill: black;
    cursor: pointer; }
    .productCard__icon:hover {
      background-color: #e3e7e8; }

.productCardBig {
  position: relative;
  overflow: hidden;
  color: white;
  cursor: pointer; }
  .productCardBig:hover .productCardBig__img {
    transform: scale(1.1); }
  .productCardBig__img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 1s;
    background: no-repeat center;
    background-size: cover; }
  .productCardBig__box {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-rows: 1fr 7rem 6rem;
    height: 100%;
    padding: 4rem; }
    @media only screen and (max-width: 50em) {
      .productCardBig__box {
        padding: 2rem; } }
  .productCardBig__btn {
    box-sizing: content-box;
    align-self: start;
    width: fit-content;
    padding: 1rem 2rem;
    transform: translate(-2rem, -1rem);
    transition: color 0.3s;
    background-color: transparent;
    color: currentColor; }
    .productCardBig__btn:hover {
      color: black; }
    .productCardBig__btn:hover .dash__line {
      border-bottom: 2px solid black; }
  .productCardBig__title {
    font-size: 4rem; }
    @media only screen and (max-width: 50em) {
      .productCardBig__title {
        font-size: 3.5rem; } }
  .productCardBig__price {
    font-size: 2.3rem;
    font-weight: 700; }
    @media only screen and (max-width: 50em) {
      .productCardBig__price {
        font-size: 2rem; } }

.smallCart {
  display: grid;
  grid-gap: 2rem;
  padding-top: 3rem;
  color: black; }
  .smallCart__item {
    display: flex; }
  .smallCart__divider {
    display: block;
    width: 100%;
    margin: 3.5rem 0 1.5rem;
    border: none;
    border-bottom: 1px solid #e3e7e8; }
  .smallCart__img {
    display: block;
    width: 12rem;
    margin-right: 3rem; }
    .smallCart__img img {
      display: block;
      width: 100%; }
  .smallCart__summary-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem; }
  .smallCart__header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem; }
  .smallCart__title:link, .smallCart__title:visited {
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none; }
  .smallCart__btn-delete {
    display: flex;
    align-items: center;
    margin-right: -1rem;
    padding: 1rem;
    background-color: transparent; }
    .smallCart__btn-delete:hover .smallCart__btn-delete-icon {
      fill: black; }
    .smallCart__btn-delete-icon {
      width: 1.6rem;
      height: 1.6rem;
      transition: fill 0.4s;
      fill: #a2a5a6; }
  .smallCart__variation-box {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-gap: 1rem;
    align-items: center;
    margin-bottom: 1rem; }
  .smallCart__color {
    display: block;
    width: 1.5rem;
    height: 1.5rem; }
  .smallCart__qty-box {
    display: grid;
    grid-template-columns: repeat(2, min-content) 1fr;
    align-items: center; }
    .smallCart__qty-box .dropdown {
      font-size: 1.4rem; }
      .smallCart__qty-box .dropdown__box {
        padding: 0 1.5rem; }
      .smallCart__qty-box .dropdown__list {
        width: auto; }
      .smallCart__qty-box .dropdown__option {
        padding: 0.5rem 1.5rem; }
  .smallCart__qty {
    color: #686b6c; }
  .smallCart__item-price {
    justify-self: end;
    font-weight: 700; }
  .smallCart__total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: 400; }
  .smallCart .btn-submit {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 50em) {
      .smallCart .btn-submit {
        margin-bottom: 2.5rem; } }
  .smallCart__empty {
    width: 100%;
    height: 100%; }
  .smallCart__empty-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform: translateY(-5rem);
    color: #a2a5a6;
    font-size: 1.8rem; }
  .smallCart__empty-icon {
    width: 20rem;
    height: 20rem;
    margin-bottom: 5rem;
    fill: #cdcfd0; }

.apiError__text {
  animation: fadeIn 0.3s;
  color: red;
  font-size: 1.6rem; }

.btn-indicator {
  width: 2rem;
  height: 2rem;
  animation: spinner 2s linear infinite;
  fill: white; }

.checkbox__input {
  display: none; }

.checkbox__label {
  position: relative;
  padding-left: 3rem;
  transition: color 0.3s;
  color: #7f8487;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer; }

.checkbox__btn {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  transition: border-color 0.3s, background-color 0.3s;
  border: 1px solid #e3e7e8;
  background-color: #e3e7e8; }
  .checkbox__btn::after {
    content: '';
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    transition: opacity 0.3s;
    opacity: 0;
    background: url("../img/SVG/checkmark.svg") no-repeat center;
    background-size: cover; }

.checkbox__input:checked ~ .checkbox__label {
  color: black; }

.checkbox__input:checked ~ .checkbox__label .checkbox__btn {
  border-color: black;
  background-color: transparent; }

.checkbox__input:checked ~ .checkbox__label .checkbox__btn::after {
  opacity: 1; }

.input {
  width: 100%;
  padding: 1.4rem 0;
  transition: border-bottom-color 0.4s;
  border: none;
  border-bottom: 2px solid #e3e7e8;
  background-color: white;
  font-size: 1.6rem;
  filter: none; }
  .input:-webkit-autofill, .input:-webkit-autofill:hover, .input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s; }
  .input:hover, .input:focus {
    border-bottom-color: black; }
  .input:focus {
    outline: none; }
  .input:invalid {
    border-bottom-color: red;
    box-shadow: none; }
  .input__label {
    display: inline-block;
    position: relative;
    width: 100%; }
  .input__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1.5rem;
    transition: transform 0.4s, color 0.4s, font-size 0.4s;
    font-size: 1.6rem; }
  .input__error {
    margin-top: 1rem;
    animation: fadeIn 0.3s;
    color: red;
    font-size: 1.6rem; }
    .input__error::before {
      content: '⚠ ';
      display: inline; }
  .input:focus + .input__placeholder,
  .input:not(:placeholder-shown) + .input__placeholder {
    transform: translateY(-2.5rem);
    color: #7f8487;
    font-size: 1.3rem; }

.basic-input {
  width: 100%;
  padding: 1.4rem 0;
  transition: border-bottom-color 0.4s;
  border: none;
  border-bottom: 2px solid #e3e7e8;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  filter: none; }
  .basic-input:-webkit-autofill, .basic-input:-webkit-autofill:hover, .basic-input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s; }
  .basic-input:hover {
    border-bottom-color: black; }
  .basic-input:invalid {
    border-bottom-color: red;
    box-shadow: none; }
  .basic-input--required {
    border-bottom: 2px solid red;
    box-shadow: none; }
  .basic-input:focus {
    outline: none; }
  .basic-input__label {
    font-size: 1.6rem;
    font-weight: 700; }

.login-form {
  display: grid;
  grid-template-rows: minmax(10rem, 1.5fr) repeat(4, min-content) 1fr minmax(1rem, 3rem);
  height: 100%;
  padding: 0 4rem;
  grid-gap: 3rem; }
  .login-form__group:first-child {
    align-self: end; }
    .login-form__group:first-child .apiError {
      margin-bottom: 3rem; }
  .login-form__group:nth-child(3) {
    margin: 1rem 0; }
  .login-form__btn-lost-password {
    align-self: end;
    justify-self: center;
    padding: 0.7rem 0;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: black;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .login-form__empty-block {
    display: block; }

.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; }
  .search__input {
    z-index: 10;
    width: 0;
    margin-right: -3.2rem;
    transition: width 0.3s, opacity 0.3s;
    border: none;
    border-bottom: 1px solid black;
    opacity: 0;
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 2.6; }
    .search__input:focus {
      outline: none; }
    .search__input--active {
      width: 30rem;
      opacity: 1; }
    .search__input--right-side {
      order: 1;
      width: calc(100% - 3rem);
      margin-right: 0;
      margin-left: -3.2rem;
      border-bottom: 1px solid #e3e7e8;
      opacity: 1;
      text-indent: 3.2rem; }
    .search__input--pill {
      margin-right: -4.2rem;
      border-bottom: 1px solid #e3e7e8;
      border-radius: 10rem;
      text-indent: 1.5rem; }
  .search__button {
    display: flex;
    padding: 2rem 1.5rem;
    background-color: transparent; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    z-index: 20;
    width: 1.7rem;
    height: 1.7rem;
    fill: black; }

.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase; }
  .btn-submit:active, .btn-submit:focus {
    outline: none; }

.nav-icon__box {
  display: flex;
  align-items: baseline;
  padding: 2rem 1.5rem;
  background-color: transparent;
  cursor: pointer; }
  @media only screen and (max-width: 75em) {
    .nav-icon__box {
      padding: 2rem 1rem; } }

.nav-icon__icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.6rem;
  fill: black; }

.nav-icon__notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: black;
  color: white; }

.navigation {
  display: flex; }
  .navigation--col {
    flex-direction: column; }
  .navigation--box {
    padding: 3rem 4rem;
    background-color: white;
    box-shadow: 0 0 30rem 0 rgba(0, 0, 0, 0.1); }
  .navigation__item {
    padding: 2rem;
    list-style: none; }
    .navigation__item--col {
      padding: 1.5rem; }
    .navigation__item--box {
      padding: 1rem 0; }
  .navigation__link {
    position: relative;
    background-color: transparent;
    color: black;
    font-size: 1.6rem;
    text-decoration: none; }
    .navigation__link::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 2.8rem;
      left: 0;
      width: 100%;
      height: 0.5px;
      transform: scaleX(0);
      transform-origin: 100% 50%;
      transition: transform 0.3s;
      background-color: currentColor; }
    .navigation__link--box {
      font-size: 1.4rem; }
      .navigation__link--box::before {
        top: 2.2rem; }
  .navigation__item:hover .navigation__link::before,
  .navigation__item:focus .navigation__link::before,
  .navigation__item:active .navigation__link::before {
    transform: scaleX(1);
    transform-origin: 0 50%; }

.social-pill {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: black;
  cursor: pointer; }
  .social-pill:hover .social-pill__links-box {
    z-index: 1;
    width: 20rem; }
  .social-pill:hover .social-pill__links-box .social-pill__link {
    transform: translateX(0);
    opacity: 1; }
  .social-pill__links-box {
    display: flex;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    align-items: center;
    width: 5rem;
    height: 5rem;
    transition: width 0.1s ease-in;
    border-radius: 25px;
    background-color: black; }
  .social-pill__link {
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    opacity: 0; }
    .social-pill__link:nth-child(2), .social-pill__link:nth-child(3), .social-pill__link:nth-child(4) {
      transform: translateX(-1rem); }
  .social-pill__icon {
    width: 5rem;
    height: 5rem;
    padding: 1.5rem;
    fill: white; }

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.5s;
  background: rgba(0, 0, 0, 0.2); }

.btn {
  width: 20rem;
  backface-visibility: hidden;
  border: 1px solid #161619;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 7rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 31.25em) {
    .btn {
      width: 17rem;
      line-height: 5rem; } }
  .btn--white {
    transition: border 0.3s, background-color 0.3s, color 0.3s;
    background-color: white;
    color: #161619; }
    .btn--white:hover {
      border: 1px solid white;
      background-color: transparent;
      color: white; }

.btn-transparent {
  width: 100%;
  height: 6rem;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer; }
  .btn-transparent:active, .btn-transparent:focus {
    outline: none; }
  .btn-transparent:hover {
    background-color: black;
    color: white; }

.btn-link {
  position: relative;
  width: fit-content;
  padding: 1.5rem 0;
  background-color: white;
  font-size: 1.6rem; }
  .btn-link--small {
    padding: 1rem 0;
    font-size: 1.4rem; }

.full-underline:hover::before {
  transform: scaleX(1);
  transform-origin: 0 50%; }

.full-underline::before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  width: 100%;
  height: 0.5px;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 0.3s;
  background-color: currentColor; }

.full-underline--small::before {
  bottom: 0.5rem; }

.btn-underline {
  position: relative;
  width: fit-content;
  padding: 1rem 0;
  background-color: transparent;
  font-size: 1.5rem; }
  .btn-underline:hover::before {
    width: 100%; }
  .btn-underline:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 1.5px;
    transition: width 0.4s;
    background-color: currentColor; }
  .btn-underline--white {
    color: white; }

.btn-outline {
  width: 15rem;
  height: 3.5rem;
  transition: transform 0.2s;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  font-size: 1.2rem;
  text-transform: uppercase; }
  .btn-outline--grey {
    transition: border 0.3s, color 0.3s; }
    .btn-outline--grey:hover {
      border: 1px solid #7f8487;
      color: #7f8487; }

.btn-square {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 12rem;
  height: 12rem;
  background-color: #161619; }
  @media only screen and (max-width: 31.25em) {
    .btn-square {
      width: 6rem;
      height: 6rem; } }
  .btn-square:hover .btn-square__icon {
    margin-left: 0.8rem; }
  .btn-square__icon {
    transition: margin-left 0.3s;
    color: white;
    font-size: 3rem; }
    @media only screen and (max-width: 31.25em) {
      .btn-square__icon {
        font-size: 2rem; } }

.hamburger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  background: transparent; }
  .hamburger-btn__icon {
    position: relative; }
    .hamburger-btn__icon, .hamburger-btn__icon::before, .hamburger-btn__icon::after {
      display: inline-block;
      width: 2rem;
      height: 2px;
      background-color: black; }
    .hamburger-btn__icon::before, .hamburger-btn__icon::after {
      content: '';
      position: absolute;
      left: 0; }
    .hamburger-btn__icon::before {
      top: -0.6rem; }
    .hamburger-btn__icon::after {
      top: 0.6rem; }
  .hamburger-btn--open .hamburger-btn__icon {
    background-color: transparent; }
  .hamburger-btn--open .hamburger-btn__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .hamburger-btn--open .hamburger-btn__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.circle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: #cdcfd0;
  background-clip: padding-box; }
  .circle-btn:hover {
    background-color: black; }
  .circle-btn--active {
    border-color: #cdcfd0;
    background-color: black; }
  .circle-btn:not(:last-child) {
    margin-right: 1rem; }

.carousel {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%; }
  .carousel__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: no-repeat center;
    background-size: cover; }

.dropdown {
  position: relative;
  color: black;
  font-size: 1.6rem;
  cursor: pointer; }
  .dropdown:hover .dropdown__list {
    opacity: 1;
    pointer-events: initial; }
  .dropdown:hover .dropdown__icon {
    transform: rotate(180deg); }
  .dropdown__list {
    position: absolute;
    z-index: 100;
    top: 100%;
    right: 1.5rem;
    width: 10rem;
    list-style: none;
    transition: opacity 0.4s;
    opacity: 0;
    background-color: white;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    pointer-events: none; }
  .dropdown__option {
    display: block;
    padding: 1rem 1.5rem;
    transition: background-color 0.3s ease-in;
    line-height: 1.7;
    cursor: pointer; }
    .dropdown__option:hover, .dropdown__option--active {
      background-color: #e3e7e8; }
  .dropdown__box {
    display: flex;
    align-items: flex-end;
    padding: 1.5rem; }
  .dropdown__icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.6rem;
    transition: transform 0.4s;
    fill: black; }

.gallery {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%; }
  .gallery__btn-box {
    position: absolute; }
  .gallery__btn-num {
    display: flex;
    flex-direction: column;
    width: 6rem; }
  .gallery__btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: black;
    font-size: 1.6rem;
    font-weight: 700; }
    .gallery__btn:not(:last-child) {
      margin-bottom: 2rem; }
    .gallery__btn::before {
      content: '';
      display: inline-block;
      width: 0;
      height: 1px;
      margin-right: 1.5rem;
      transition: width 0.3s ease;
      background-color: black; }
    .gallery__btn--active::before {
      width: 2rem; }
  .gallery__wrapper {
    visibility: hidden;
    z-index: -10;
    width: 100%;
    padding-left: 6rem; }
  .gallery__img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 6rem;
    object-fit: cover; }
    .gallery__img--fadeIn {
      animation: fadeIn 0.5s ease-in-out; }
    .gallery__img--fadeOut {
      animation: fadeOut 0.5s ease-in-out; }
  @media only screen and (max-width: 62.5em) {
    .gallery__img {
      padding-left: 0; } }
  @media only screen and (max-width: 37.5em) {
    .gallery__btn-box {
      bottom: 0;
      padding: 0 0 2rem 2rem; }
    .gallery__btn-circle {
      display: flex; }
    .gallery__btn-num {
      display: none; } }
  @media only screen and (min-width: 37.5em) {
    .gallery__btn-circle {
      display: none; } }

.quantity {
  display: flex;
  transition: border-color 0.3s;
  border: 1px solid #cdcfd0; }
  .quantity:hover {
    border-color: black; }
  .quantity__btn {
    padding: 1.5rem 2rem;
    background-color: transparent; }
    .quantity__btn:hover .quantity__btn-icon {
      fill: black; }
  .quantity__btn-icon {
    width: 1.2rem;
    height: 1.2rem;
    transition: fill 0.3s;
    fill: #7f8487; }
  .quantity__input {
    -moz-appearance: textfield;
    width: 3.5rem;
    border: none;
    background: 0 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center; }

.rating {
  position: relative; }
  .rating__max {
    display: block;
    fill: #cdcfd0; }
  .rating__users {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    fill: #ffb22d;
    white-space: nowrap; }
  .rating__star {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle; }
    .rating__star:not(:last-child) {
      margin-right: 5px; }

.slider {
  display: flex;
  position: absolute;
  top: 0;
  left: 0; }
  .slider__wrapper {
    display: flex;
    transition: transform 0.4s; }
  .slider__img {
    width: 100%; }
  .slider__btn {
    position: absolute;
    align-self: center;
    width: 3rem;
    height: 5rem;
    transform: translateY(-6rem);
    transition: opacity 0.4s cubic-bezier(1, 0, 0, 1);
    opacity: 0;
    background-color: white; }
    .slider__btn--next {
      right: 0; }
    .slider__btn--prev {
      left: 0; }
  .slider__btn-icon {
    width: 2rem;
    height: 2rem;
    fill: black; }
    .slider__btn-icon--next {
      transform: rotate(-90deg); }
    .slider__btn-icon--prev {
      transform: rotate(90deg); }

.timer {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: max-content; }
  @media only screen and (max-width: 50em) {
    .timer {
      grid-gap: 4.5rem; } }
  .timer__box {
    display: flex;
    flex-direction: column; }
  .timer__time {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700; }
  .timer__label {
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-transform: uppercase; }

.sideModal {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  grid-template-rows: min-content 1fr;
  width: 60rem;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);
  color: black; }
  @media only screen and (max-width: 37.5em) {
    .sideModal {
      width: 100vw; } }
  .sideModal__header-box {
    display: flex;
    align-items: flex-end;
    padding: 3rem 6rem; }
    @media only screen and (max-width: 75em) {
      .sideModal__header-box {
        padding: 2rem 4rem; } }
    @media only screen and (max-width: 50em) {
      .sideModal__header-box {
        padding: 0 2rem; } }
    .sideModal__header-box .hamburger-btn {
      margin-right: -1rem;
      transform: translateY(25%); }
  .sideModal__content-box {
    height: 100%;
    padding: 0 6rem;
    overflow-y: auto; }
    @media only screen and (max-width: 75em) {
      .sideModal__content-box {
        padding: 0 4rem; } }
    @media only screen and (max-width: 50em) {
      .sideModal__content-box {
        padding: 2rem 2rem 0; } }
  .sideModal__header {
    flex: 1;
    font-size: 1.8rem; }
  .sideModal__text {
    font-size: 1.3rem;
    font-weight: 700; }

.footer {
  display: grid;
  grid-column: side-start / -1;
  grid-template-columns: 1fr max-content;
  grid-gap: 2rem;
  padding: 6rem 6rem 4rem;
  background-color: white;
  color: black; }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    align-items: center;
    justify-items: start;
    list-style: none; }
  .footer__contact-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; }
  .footer__main-box {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 1fr); }
  .footer__left-items {
    display: grid;
    grid-gap: 5rem; }
  .footer__right-items {
    display: grid;
    grid-gap: 5rem;
    justify-items: end; }
  .footer__dropdown {
    display: flex;
    align-items: center;
    margin-right: -1.5rem;
    font-size: 1.6rem; }
  .footer__social-box {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-gap: 1rem; }
  .footer__text {
    font-size: 1.4rem;
    line-height: 1.5; }
    .footer__text:not(:last-child) {
      margin-bottom: 2rem; }
  .footer__img {
    display: block; }
  .footer__divider {
    grid-column: 1 / -1;
    margin: 1.5rem 0;
    border: none;
    border-bottom: 1px solid #e3e7e8; }
  .footer__item {
    padding: 2rem 0; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    position: relative;
    color: black;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none; }
    .footer__link:link::before, .footer__link:visited::before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
      height: 0.5px;
      transform: scaleX(0);
      transform-origin: 100% 50%;
      transition: transform 0.3s;
      background-color: black; }
  .footer__link:hover::before, .footer__link:focus::before, .footer__link:active::before {
    transform: scaleX(1);
    transform-origin: 0 50%; }
  @media only screen and (max-width: 75em) {
    .footer {
      grid-column: side-start / -1;
      padding: 6rem 4rem 4rem; } }
  @media only screen and (max-width: 50em) {
    .footer {
      grid-template-columns: 1fr;
      padding: 6rem 2rem 4rem; }
      .footer__nav {
        grid-template-columns: repeat(3, minmax(max-content, 1fr));
        justify-items: center; }
      .footer__contact-box {
        align-items: center; }
      .footer__main-box {
        grid-template-columns: 1fr;
        grid-gap: 2rem; }
      .footer__left-items, .footer__right-items {
        justify-items: center; }
      .footer__left-items {
        order: 1; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 4rem 2rem; }
      .footer__nav {
        grid-template-columns: repeat(2, minmax(max-content, 1fr)); }
      .footer__left-items, .footer__right-items {
        grid-gap: 3rem; }
      .footer__item {
        padding: 1.5rem 0; } }

.header {
  display: grid;
  position: relative;
  grid-column: side-start / side-right-end;
  grid-row: 1 / 2;
  grid-template-columns: 12rem repeat(2, 1fr); }
  @media only screen and (max-width: 75em) {
    .header {
      grid-column: side-start / -1;
      grid-template-columns: repeat(3, 1fr); } }
  .header__left-items {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .header__left-items {
        justify-self: center; } }
  .header__right-items {
    display: grid;
    grid-template-columns: max-content 4.7rem repeat(2, max-content);
    align-items: center;
    justify-items: center;
    justify-self: end; }
    @media only screen and (max-width: 75em) {
      .header__right-items {
        grid-template-columns: max-content;
        margin-right: 3rem; } }
    @media only screen and (max-width: 50em) {
      .header__right-items {
        margin-right: 1rem; } }
    .header__right-items--form {
      justify-self: end; }
      @media only screen and (max-width: 75em) {
        .header__right-items--form {
          display: none; } }
  .header__hamburger-box {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem; }
    @media only screen and (max-width: 75em) {
      .header__hamburger-box {
        visibility: visible;
        margin-left: 2rem; } }
    @media only screen and (max-width: 50em) {
      .header__hamburger-box {
        margin-left: 0; } }
  .header__account {
    position: relative; }
    .header__account:hover .header__account-links {
      transform: translateY(0);
      opacity: 1;
      pointer-events: initial; }
  .header__account-link {
    padding: 2rem;
    background-color: transparent;
    color: black;
    font-size: 1.4rem; }
  .header__account-links {
    display: grid;
    position: absolute;
    z-index: 100;
    left: -2rem;
    width: 18rem;
    padding-top: 3.35rem;
    transform: translateY(2rem);
    transition: transform 0.5s, opacity 0.4s;
    opacity: 0;
    pointer-events: none; }
    .header__account-links-box {
      padding: 0 4rem 3rem;
      background-color: white; }

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .modal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.5s;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.side-drawer {
  display: grid;
  position: fixed;
  z-index: 2000;
  align-items: center;
  justify-items: start;
  width: 40rem;
  height: 100%;
  padding-right: 1rem;
  padding-left: 0.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white; }
  @media only screen and (min-width: 75em) {
    .side-drawer {
      display: none; } }
  @media only screen and (max-width: 25em) {
    .side-drawer {
      width: 100vw; } }
  .side-drawer__mobile-header {
    display: none; }
    @media only screen and (max-width: 25em) {
      .side-drawer__mobile-header {
        display: block;
        width: calc(100% + 2rem);
        transform: translateX(-1rem); } }
  .side-drawer__divider {
    width: calc(100% - 3rem);
    margin: 1.5rem;
    border: none;
    border-bottom: 1px solid #e3e7e8; }
  .side-drawer__text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
  .side-drawer__text {
    padding: 1.5rem;
    color: black;
    font-size: 1.6rem; }
  .side-drawer__icons-box {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-gap: 1rem;
    padding: 0.5rem 0 1.5rem 1.5rem; }
  .side-drawer__btn-box {
    padding: 0 1.5rem; }

.checkout {
  display: grid;
  grid-template-columns: [side-start] 6rem [side-end full-start] 6rem [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end side-right-start] 6rem [side-right-end] 6rem [full-end];
  grid-template-rows: 12rem;
  grid-row-gap: 5rem;
  background-color: white; }
  .checkout .page-title {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: center; }
  .checkout .footer {
    grid-row: 5 / 6;
    padding-top: 2rem; }
  .checkout__login-box {
    display: flex;
    grid-column: center-start / center-end;
    grid-row: 3 / 4;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: calc(100% / 2);
    height: 6rem;
    background: #e3e7e8;
    color: #686b6c;
    font-size: 1.6rem; }
  .checkout__form {
    display: grid;
    grid-column: center-start / center-end;
    grid-row: 4 / 5;
    grid-template-columns: 17rem 4.5fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    align-items: center;
    padding: 0 7rem;
    font-size: 1.6rem;
    font-weight: 700; }
    .checkout__form-title {
      grid-column: 1 / -1;
      margin-bottom: 1rem;
      font-size: 3.5rem;
      font-weight: 400; }
      .checkout__form-title:nth-of-type(2) {
        margin-top: 3rem;
        margin-bottom: 2.5rem; }
    .checkout__form-group {
      display: flex;
      grid-column: 2 / 3; }
      .checkout__form-group input:nth-child(1) {
        margin-right: 3rem; }
    .checkout__form .basic-input {
      grid-column: 2 / 3; }
    .checkout__form .basic-input__label {
      grid-column: 1 / 2; }
    .checkout__form .basic-input__label:last-of-type {
      align-self: start;
      padding-top: 1.4rem; }
    .checkout__form textarea {
      resize: vertical; }
  .checkout__review {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 17rem 4.5fr 1fr;
    grid-column-gap: 2rem; }
    .checkout__review-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      .checkout__review-item:not(:last-of-type) {
        margin-bottom: 3rem; }
      .checkout__review-item-name {
        flex: 2; }
        .checkout__review-item-name .smallCart__variation-box {
          margin-top: 0.5rem;
          font-size: 1.4rem; }
          .checkout__review-item-name .smallCart__variation-box p {
            font-weight: 400; }
      .checkout__review-item-qty, .checkout__review-item-price {
        flex: 1; }
      .checkout__review-item-price {
        text-align: right; }
    .checkout__review-total {
      justify-self: end; }
  .checkout__shipping {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 17rem 4.5fr 1fr;
    grid-column-gap: 2rem; }
    .checkout__shipping-row {
      display: flex;
      justify-content: space-between; }
    .checkout__shipping .checkout__divider {
      grid-column: 2 / 3; }
  .checkout__payment {
    grid-column: 2 / -1; }
    .checkout__payment-desc {
      overflow: hidden;
      color: #7f8487;
      font-size: 1.5rem;
      font-weight: 400; }
    .checkout__payment .checkout__divider {
      margin: 2rem 0; }
  .checkout__btn-login {
    background-color: transparent;
    color: black;
    font-size: 1.6rem;
    font-weight: 700; }
  .checkout__divider {
    grid-column: 1 / -1;
    margin: 3rem 0;
    border: none;
    border-bottom: 1px solid #e3e7e8; }
  .checkout__policy {
    margin: 7rem 0;
    font-size: 1.5rem;
    font-weight: 400; }

.container {
  display: grid;
  grid-template-columns: [side-start] 6rem [side-end full-start] 6rem [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end side-right-start] 6rem [side-right-end] 6rem [full-end];
  grid-template-rows: 12rem calc(100vh - 12rem) min-content 50vw;
  background-color: white; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content 60vw; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.sidebar {
  display: grid;
  position: relative;
  z-index: 20;
  grid-column: side-start / center-start;
  grid-row: 2 / 3;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 0 1rem;
  background-color: white; }
  .sidebar--close {
    display: none;
    z-index: 0; }
  .sidebar__icons-box {
    display: grid;
    grid-gap: 1rem; }
    @media only screen and (max-width: 62.5em) {
      .sidebar__icons-box {
        display: none; } }
  .sidebar__icon {
    width: 4rem;
    height: 4rem;
    padding: 0 1.2rem;
    transition: fill 0.3s, background-color 0.3s;
    border: 1px solid #e3e7e8;
    border-radius: 50%;
    fill: black; }
    .sidebar__icon:hover {
      background-color: black;
      fill: white; }

.header-content {
  position: relative;
  grid-column: side-start / -1;
  grid-row: 2 / 3; }
  @media only screen and (max-width: 62.5em) {
    .header-content {
      z-index: 50; } }
  .header-content__box {
    display: grid;
    position: absolute;
    align-items: center;
    align-self: center;
    justify-items: center;
    grid-gap: 3rem;
    transform: translateY(1rem); }
    @media only screen and (max-width: 31.25em) {
      .header-content__box {
        transform: translateY(-1.5rem); } }
    .header-content__box--overflow {
      overflow: hidden; }
  .header-content__box-small {
    position: absolute;
    bottom: 5rem;
    transform: translateX(-40rem);
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase; }
    @media only screen and (max-width: 75em) {
      .header-content__box-small {
        transform: translateX(-30rem); } }
    @media only screen and (max-width: 50em) {
      .header-content__box-small {
        transform: translateX(-10rem); } }
    @media only screen and (max-width: 31.25em) {
      .header-content__box-small {
        bottom: 2.5rem;
        transform: translateX(-7rem);
        font-size: 1.1rem; } }
    .header-content__box-small > span {
      display: inline-block;
      margin-right: 1rem; }

.products {
  display: grid;
  position: relative;
  grid-column: full-start / side-right-end;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
  padding: 20rem 0; }
  @media only screen and (max-width: 75em) {
    .products {
      grid-column: side-start / -1;
      grid-gap: 4rem;
      padding: 15rem 4rem 20rem; } }
  @media only screen and (max-width: 50em) {
    .products {
      grid-gap: 2rem;
      padding: 7.5rem 2rem 15rem; } }
  @media only screen and (max-width: 31.25em) {
    .products {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      padding: 6rem 2rem 15rem; } }
  .products__box {
    position: relative;
    color: black; }
    .products__box::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 2rem;
      border-bottom: 2px solid black; }
    @media only screen and (max-width: 50em) {
      .products__box {
        grid-column: 1 / -1;
        padding-bottom: 3rem; } }
  .products__title {
    margin-bottom: 3.6rem; }
  .products__description {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2; }
  .products__button-box {
    position: absolute;
    align-self: end;
    justify-self: center;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 50em) {
      .products__button-box {
        margin-bottom: 7rem; } }

.deal {
  display: flex;
  grid-column: side-start / -1;
  grid-row: 4 / 5;
  padding: 0 6rem 5rem;
  background: url("../img/deal-of-the-week.jpg") no-repeat center;
  background-size: cover;
  color: white; }
  @media only screen and (max-width: 75em) {
    .deal {
      padding: 0 4rem 5rem; } }
  @media only screen and (max-width: 50em) {
    .deal {
      padding: 14rem 2rem 4rem; } }
  .deal__main-box {
    display: flex;
    flex-direction: column;
    align-self: flex-end; }
  .deal__small-box {
    display: grid;
    grid-gap: 4rem;
    margin-bottom: 16rem; }
    @media only screen and (max-width: 75em) {
      .deal__small-box {
        margin-bottom: 8rem; } }
    @media only screen and (max-width: 50em) {
      .deal__small-box {
        grid-gap: 3rem;
        margin-bottom: 6rem; } }

.subscribe {
  display: grid;
  grid-gap: 2rem;
  padding: 6rem 5rem 7rem 7rem;
  border: 1px solid currentColor;
  color: black; }
  @media only screen and (max-width: 81.25em) {
    .subscribe {
      padding: 3rem 4rem 4rem; } }
  @media only screen and (max-width: 62.5em) {
    .subscribe {
      padding: 1rem 2rem 2rem; } }
  .subscribe__title {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 1px; }
    @media only screen and (max-width: 50em) {
      .subscribe__title {
        font-size: 3rem; } }
  .subscribe__description {
    font-size: 1.5rem;
    line-height: 1.5; }
  .subscribe__form {
    display: flex; }
    @media only screen and (max-width: 75em) {
      .subscribe__form {
        flex-direction: column; } }
  .subscribe__input {
    width: 100%;
    height: 6rem;
    margin-right: 2rem;
    padding: 1.7rem 2rem;
    transition: border 0.4s, padding 0.4s;
    border: 1px solid black;
    font-size: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .subscribe__input {
        margin-bottom: 1.5rem; } }
    .subscribe__input:focus {
      border-width: 2px;
      outline: none; }
    .subscribe__input:invalid {
      box-shadow: none; }
  .subscribe__button {
    padding: 2rem 5rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer; }
  .subscribe__left-card, .subscribe__right-card {
    padding: 12rem 6rem; }
    @media only screen and (max-width: 75em) {
      .subscribe__left-card, .subscribe__right-card {
        padding: 12rem 4rem; } }
  .subscribe__left-card {
    grid-column: side-start / col-end 4; }
    @media only screen and (max-width: 62.5em) {
      .subscribe__left-card {
        padding: 12rem 2rem 12rem 4rem; } }
    @media only screen and (max-width: 50em) {
      .subscribe__left-card {
        padding: 6rem 1rem 6rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .subscribe__left-card {
        grid-column: side-start / -1;
        padding: 6rem 2rem 2rem; } }
  .subscribe__right-card {
    display: flex;
    position: relative;
    grid-column: col-start 5 / -1;
    flex-direction: column; }
    @media only screen and (max-width: 62.5em) {
      .subscribe__right-card {
        padding: 12rem 4rem 12rem 2rem; } }
    @media only screen and (max-width: 50em) {
      .subscribe__right-card {
        padding: 6rem 2rem 6rem 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .subscribe__right-card {
        grid-column: side-start / -1;
        padding: 2rem 2rem 4rem; } }
  .subscribe__right-card-wrapper {
    flex: 1;
    margin-top: -25rem; }
    @media only screen and (max-width: 50em) {
      .subscribe__right-card-wrapper {
        margin-top: 0; } }
  .subscribe__form-wrapper {
    display: none;
    grid-column: side-start / -1;
    padding: 0 2rem 6rem; }
    @media only screen and (max-width: 50em) {
      .subscribe__form-wrapper {
        display: initial; } }

.promo__left-item, .promo__right-item {
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;
  padding: 3rem 1rem 3.5rem;
  color: black;
  text-align: center; }

.promo__left-item {
  grid-column: side-start / col-end 4;
  background: url("../img/promo-1.jpg") no-repeat center;
  background-size: cover; }
  @media only screen and (max-width: 50em) {
    .promo__left-item {
      grid-column: side-start / -1; } }

.promo__right-item {
  grid-column: col-start 5 / -1;
  background: url("../img/promo-2.jpg") no-repeat center;
  background-size: cover; }
  @media only screen and (max-width: 50em) {
    .promo__right-item {
      grid-column: side-start / -1; } }

.promo__text {
  margin: 2.5rem;
  font-size: 2.2rem;
  line-height: 1.7; }

.promo__link:link, .promo__link:visited {
  display: block;
  padding: 0.7rem 0;
  border-bottom: 1px solid black;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

.product {
  display: grid;
  grid-template-columns: [side-start] 6rem [side-end full-start] 6rem [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end side-right-start] 6rem [side-right-end] 6rem [full-end];
  grid-template-rows: 12rem 8rem; }
  .product .header {
    z-index: 50;
    grid-column: side-start / -1;
    padding-right: 6rem;
    transition: background-color 0.25s ease; }
    .product .header:hover {
      background-color: white; }
  .product__gallery-box {
    grid-column: full-start / col-end 5;
    grid-row: 1 / 4; }
  .product__summary-box {
    display: grid;
    grid-column: col-start 6 / center-end;
    grid-row: 3 / 4;
    grid-template-rows: repeat(6, min-content);
    grid-gap: 1.5rem;
    padding: 0 0 5rem 5rem; }
  .product__social-box {
    grid-column: full-start / center-start;
    grid-row: 3 / 4;
    align-self: end;
    padding-bottom: 5rem; }
    .product__social-box .social-pill {
      margin-bottom: 1rem; }
  .product__rating-box {
    display: flex;
    align-items: center; }
    .product__rating-box button {
      margin-left: 1.5rem; }
  .product__sizes-box .product__text,
  .product__colors-box .product__text {
    margin-bottom: 1rem; }
  .product__sizes-box, .product__colors-box {
    display: grid;
    grid-gap: 2rem; }
  .product__sizes-box {
    grid-template-columns: repeat(auto-fill, 3rem);
    margin-bottom: 1rem; }
  .product__colors-box {
    grid-template-columns: repeat(auto-fill, 2.5rem);
    margin-bottom: 4.5rem; }
  .product__meta-box {
    display: grid;
    grid-gap: 1rem;
    margin-top: 3rem; }
  .product__form {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-gap: 1rem;
    margin-top: 2rem; }
    .product__form .btn-submit {
      margin-left: 2rem; }
  .product__form-qty-box {
    display: flex; }
  .product__title {
    font-size: 3rem;
    font-weight: 400; }
  .product__text {
    font-size: 1.4rem;
    line-height: 1.5; }
  .product__review-btn, .product__btn-link {
    transition: color 0.3s, text-shadow 0.3s;
    background-color: transparent;
    font-weight: 700; }
  .product__review-btn {
    color: #7f8487;
    font-size: 1.2rem;
    text-transform: capitalize; }
    .product__review-btn:hover {
      color: black; }
  .product__btn-link {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
    text-transform: uppercase; }
    .product__btn-link:hover {
      color: black;
      text-shadow: 0 0 0.5px #7f8487, 0 0 0.5px #7f8487; }
  .product__price {
    margin-top: 1.5rem;
    font-size: 3rem; }
  .product__tag {
    display: inline-block;
    width: 8.5rem;
    color: #7f8487;
    font-size: 1.1rem;
    text-transform: uppercase; }
  .product__btn-size, .product__btn-color {
    width: 3rem;
    height: 3rem; }
  .product__btn-size {
    padding-bottom: 1rem;
    transition: border-color 0.3s, color 0.3s;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    color: #7f8487;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
    .product__btn-size--active {
      border-color: black;
      color: black; }
  .product__btn-color {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid black; }
    .product__btn-color::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      width: 2.5rem;
      height: 1.5px;
      transition: background-color 0.3s;
      background-color: transparent; }
    .product__btn-color--active::after {
      background-color: black; }
  .product__divider {
    margin: 3rem 0 0;
    border: none;
    border-bottom: 1px solid #e3e7e8; }
  @media only screen and (min-width: 62.5em) {
    .product__divider {
      display: none; } }
  @media only screen and (max-width: 75em) {
    .product {
      grid-template-rows: 6rem 8rem; }
      .product .header {
        padding-right: 0; }
      .product__gallery-box {
        grid-column: side-start / col-end 5;
        padding-left: 4rem; }
      .product__summary-box {
        grid-column: col-start 6 / -1;
        padding: 0 4rem 5rem 0; }
      .product__social-box {
        grid-column: side-start / side-end;
        padding-bottom: 2rem;
        padding-left: 4rem; } }
  @media only screen and (max-width: 62.5em) {
    .product__gallery-box {
      grid-column: side-start / -1;
      grid-row: 2 / 4;
      padding: 0 4rem; }
    .product__summary-box {
      grid-column: side-start / -1;
      grid-row: 4 / 5;
      padding: 6rem 4rem 0;
      background-color: white; }
    .product__social-box {
      grid-column: side-right-start / -1;
      justify-self: end;
      padding-right: 4rem;
      padding-bottom: 0;
      transform: translateY(50%); }
      .product__social-box .social-pill {
        margin-bottom: 0; } }
  @media only screen and (max-width: 50em) {
    .product__gallery-box {
      padding: 0 2rem; }
    .product__summary-box {
      padding: 6rem 2rem 0; }
    .product__social-box {
      padding-right: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .product__form-qty-box {
      flex-direction: column; }
    .product__form .btn-submit {
      margin-top: 2rem;
      margin-left: 0; }
    .product__form .quantity__input {
      flex: 1; } }
  @media only screen and (max-width: 31.25em) {
    .product__summary-box {
      padding: 4rem 2rem 0; } }
