// Fade in animation
// ---------------------------------
.fadeIn
    animation: fadeIn 1s

@keyframes fadeIn
    0%
        opacity: 0

    100%
        opacity: 1

// Fade out animation
// ---------------------------------
.fadeOut
    animation: fadeOut 1s

    &--fast
        animation: fadeOut 0.5s

@keyframes fadeOut
    0%
        opacity: 1

    100%
        opacity: 0

// Move in from top animation
// ---------------------------------
.moveInFromTop
    animation: moveInFromTop 1s

@keyframes moveInFromTop
    0%
        transform: translateY(-100%)

    100%
        transform: translateX(0)

// Move in from left animation
// ---------------------------------
.moveInFromLeft
    animation: moveInFromLeft 1s

@keyframes moveInFromLeft
    0%
        transform: translateX(-100%)

    100%
        transform: translateX(0)

// Move out to left animation
// ---------------------------------
.moveOutToLeft
    animation: moveOutToLeft 1s

@keyframes moveOutToLeft
    0%
        transform: translateX(0)

    100%
        transform: translateX(-100%)

// Move and fade in from left animation
// ---------------------------------
.moveAndFadeInFromLeft
    animation: moveInFromLeft 0.5s, fadeIn 0.5s

// Move and fade out to left animation
// ---------------------------------
.moveAndFadeOutToLeft
    animation: moveOutToLeft 0.5s, fadeOut 0.5s

// Move in from right animation
// ---------------------------------
.moveInFromRight
    animation: moveInFromRight 1s

@keyframes moveInFromRight
    0%
        transform: translateX(100%)

    100%
        transform: translateX(0)

// Move out to right animation
// ---------------------------------
.moveOutToRight
    animation: moveOutToRight 1s

@keyframes moveOutToRight
    0%
        transform: translateX(0)

    100%
        transform: translateX(100%)

// Move and fade in from right animation
// ---------------------------------
.moveAndFadeInFromRight
    animation: moveInFromRight 0.5s, fadeIn 0.5s

// Move and fade out to right animation
// ---------------------------------
.moveAndFadeOutToRight
    animation: moveOutToRight 0.5s, fadeOut 0.5s

// Spinner
@keyframes spinner
    from
        transform: rotate(0)

    to
        transform: rotate(360deg)

// Accordion
.showAccordion
    animation: showAccordion 0.3s
    animation-fill-mode: forwards

@keyframes showAccordion
    0%
        height: 0

    100%
        height: auto
        margin-top: 2rem

.hideAccordion
    animation: hideAccordion 0.3s
    animation-fill-mode: forwards

@keyframes hideAccordion
    0%
        height: auto
        margin-top: 2rem

    100%
        height: 0
