// Top margins
// ---------------------------------
.u-margin-top-small
    margin-bottom: 2.5rem !important

// Bottom margins
// ---------------------------------
.u-margin-bottom-small
    margin-bottom: 1.5rem !important

.u-margin-bottom-medium
    margin-bottom: 4rem !important

.u-margin-bottom-big
    margin-bottom: 8rem !important

// Display: none
// ---------------------------------
.u-display-none-l
    @include respond-to(L)  // 1200px
        display: none

.u-display-none-xs
    @include respond-to(XS) // 600px
        display: none
