// Top margins
// ---------------------------------
.u-margin-top-small
    margin-bottom: 2.5rem !important

// Bottom margins
// ---------------------------------
.u-margin-bottom-xs
    margin-bottom: 1.5rem !important
    
.u-margin-bottom-s
    margin-bottom: 3rem !important

.u-margin-bottom-m
    margin-bottom: 5rem !important

.u-margin-bottom-xl
    margin-bottom: 8rem !important

// Display: none
// ---------------------------------
.u-display-none-l
    @include respond-to(L)  // 1200px
        display: none

.u-display-none-xs
    @include respond-to(XS) // 600px
        display: none
