// Colors
// ---------------------------------
$color-primary: rgb(0, 0, 0)
$color-primary-light: rgb(22, 22, 25)

$color-white: rgb(255, 255, 255)

$color-grey-light: rgb(227, 231, 232)
$color-grey-dark: rgb(127, 132, 135)

// Grey line
// ---------------------------------
$line: 1px solid $color-grey-light
