.btn-submit
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 6rem
    border: none
    background-color: $color-primary
    color: $color-white
    font-size: $default-font-size
    text-transform: uppercase
    cursor: pointer

    &:active,
    &:focus
        outline: none
