// Home container
// ---------------------------------
.container
    display: grid
    grid-template-columns: [side-start] 6rem [side-end full-start] 6rem [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] 6rem [full-end]
    grid-template-rows: 12rem calc(100vh - 12rem)

    @include respond-to(L)
        grid-template-rows: 6rem calc(100vh - 6rem)

// Sidebar
// ---------------------------------
.sidebar
    display: grid
    position: relative
    z-index: 20
    grid-column: side-start / center-start
    grid-row: 2 / 3
    align-items: center
    justify-items: center
    width: 100%
    padding: 0 1rem
    background-color: $color-white

    &--close
        display: none
        z-index: 0

    &__icons-box
        display: grid

        @include respond-to(M)
            display: none

    &__icon
        width: 4rem
        height: 4rem
        padding: 0 1.2rem
        fill: $color-primary

// Header / carousel content
// ---------------------------------
.header-content
    position: relative
    grid-column: side-start / -1
    grid-row: 2 / 3

    @include respond-to(M)
        z-index: 50

    &__box
        display: grid
        position: absolute
        align-items: center
        align-self: center
        justify-items: center
        grid-gap: 3rem
        transform: translateY(1rem)

        @include respond-to(XXS)
            transform: translateY(-1.5rem)

        &--overflow
            overflow: hidden

    &__box-small
        position: absolute
        bottom: 5rem
        transform: translateX(-40rem)
        color: $color-white
        font-size: 1.4rem
        font-weight: 700
        text-transform: uppercase

        @include respond-to(L)
            transform: translateX(-30rem)

        @include respond-to(S)
            transform: translateX(-10rem)

        @include respond-to(XXS)
            bottom: 2.5rem
            transform: translateX(-7rem)
            font-size: 1.1rem

        & > span
            display: inline-block
            margin-right: 1rem

// Section products
// ---------------------------------
.products
    display: grid
    position: relative
    grid-column: full-start / center-end
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))
    grid-gap: 5rem
    padding: 20rem 0
    background-color: $color-white

    @include respond-to(L)
        grid-column: side-start / -1
        grid-gap: 4rem
        padding: 15rem 4rem 20rem

    @include respond-to(S)
        grid-gap: 2rem
        padding: 7.5rem 2rem 15rem

    @include respond-to(XXS)
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
        padding: 6rem 2rem 15rem

    &__box
        position: relative
        color: $color-primary

        &::after
            content: ''
            position: absolute
            bottom: 0
            width: 2rem
            border-bottom: 2px solid $color-primary

        @include respond-to(S)
            grid-column: 1 / -1
            padding-bottom: 3rem

    &__title
        margin-bottom: 3.6rem

    &__description
        font-size: 1.5rem
        font-weight: 300
        line-height: 2

    &__button-box
        position: absolute
        align-self: end
        justify-self: center
        margin-bottom: 10rem

        @include respond-to(S)
            margin-bottom: 7rem










